<!DOCTYPE html>
<html>

<head>
</head>

<body>

    <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %} 
        <!---{{ form.as_p }} --> 
        <p>Please input the skinfiles </p>
        <p><input type="file" name="skins" multiple /> </p> 
        <p>Please input the name of the project </p>
        <p><input type="text" name="name"> </p> 
        <p>Please input the model type of skins </p> 
        <p><select name="model"> 
            <option value="N">Normal</option> 
            <option value="G">Girl</option> 
        </select></p> 
        <input type="submit" value="Submit">
    </form> 

    <p>如果下载文件为 .zip ，请删除 .zip 的后缀（一般在 Safari / Edge 上面出现这个问题） </p> 
    <p>Contribution </p> 
    <p>我是redstone </p> 
    <p>Cinder </p> 
  
</body>

</html>