<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>Minecraft PE 皮肤打包 </title>
    <meta name="keywords" content="QR Code Generation">
    <link rel="stylesheet" type="text/css" href="https://pmine.org/static/style/main.css">
    <style>
        .bg {
            background: url(https://pmine.org/static/pictures/main.png)no-repeat;
            background-size: cover;
            background-position: 50% 0px;
            width: 100vw;
            height: 100vh;
            position: fixed;
            left: 0px;
            top: 0px;
            z-index: -100;
        }
    </style>
</head>

<body>

    <div class="bg"> 
    </div> 

    <div class="cont">
        {%block body%}
        {%endblock%}
    </div> 
    
</body> 

<script type="text/javascript" src="https://pmine.org/static/libs/load.js"></script> 

</html> 
